@model Badge.EF.Entity.Swipe

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Swipe</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="IdSwipe" />
        <dt>
            @Html.DisplayNameFor(model => model.PosPersona)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PosPersona)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Orario)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Orario)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Badge)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Badge.NomeBadge)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Machine)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Machine.Name)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <a asp-action="Delete" asp-route-id="@Model.IdSwipe">

            <button type="submit" class="btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="Delete">

                <i class="large material-icons">delete</i>
            </button>
        </a>

        <input type="hidden" asp-for="IdPerson" value="@Model.IdPerson" /> 

        <a asp-action="Index" asp-route-peopleid="@Model.IdPerson">
            <button type="button" class="btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="Back to List">
                <i class="material-icons">arrow_back</i>
            </button>
        </a>
    </form>
</div>
@section Scripts{
    <script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
    </script>
}


