@using Badge.Web.Models.Shared
@using Badge.Web.Models.Swipes

@model PaginationViewModel<SwipesViewModel>

@{
    ViewData["Title"] = "Swipes";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-area="" asp-controller="Swipes" asp-action="Create" asp-route-idperson="@ViewBag.IdPerson" asp-route-machinename="@ViewBag.MachineName" asp-route-nomebadge ="@ViewBag.NomeBadge"
       class="btn-floating btn-large waves-effect waves-light #26a69" data-position="bottom" data-delay="50" data-tooltip="Create New">
    <i class="material-icons">add</i></a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Data.First().PosPersona)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data.First().Orario)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.First().NomeBadge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data.First().MachineName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Data) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PosPersona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Orario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeBadge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MachineName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdSwipe" asp-route-idperson="@ViewBag.IdPerson">
                    <button class="btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="Edit">
                        <i class="material-icons">border_color</i>
                    </button>
                </a>
                <a asp-action="Details" asp-route-id="@item.IdSwipe">
                    <button class="btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="Details">
                        <i class="large material-icons">pageview</i>
                    </button>
                </a>

                <a asp-action="Delete" asp-route-id="@item.IdSwipe" asp-route-idperson="@ViewBag.IdPerson">
                    <button class="btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="Delete">
                        <i class="large material-icons">delete</i>
                    </button>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>


<div>
    <a asp-area="" asp-controller="People" asp-action="Index">
        <button type="button" class="btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="Back to List">
            <i class="material-icons">arrow_back</i>
        </button>
    </a>
</div>



@if (Model.Data.Count == 0)
{
    <H4> A questa persona non sono assegnati swipe </H4>
}
else
{

<ul class="pagination">

    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>

    @for (int i = 0; i < (Model.Count) + 1; i++)
    {
      

        @if (Model.Skip / 6 == i)
        {
            <li class="active"><a asp-controller="Swipes" asp-action="Index" asp-route-peopleid="@(Model.Data.FirstOrDefault().IdPerson)" asp-route-skip="@(i * 6)" asp-route-take="6">@(i + 1)</a></li>
        }
        else
        {
            <li><a asp-controller="Swipes" asp-action="Index" asp-route-peopleid="@(Model.Data.FirstOrDefault().IdPerson)" asp-route-skip="@(i * 6)" asp-route-take="6">@(i + 1)</a></li>
        }
        
    }
    <li>

    <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>

</ul>

}

@section Scripts{
    <script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
    </script>
}


