@model Badge.EF.Entity.Machine

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Machine</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="Name" />
        <dt>
            @Html.DisplayNameFor(model => model.IpMachine)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IpMachine)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MacAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MacAddress)
        </dd>
    </dl>

        <form asp-action="Delete">
            
            <a asp-action="Delete" asp-route-id="@Model.Name">

                <button type="submit" class="btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="Delete">

                    <i class="large material-icons">delete</i>
                </button>
            </a>

            <a asp-action="Index">
                <button type="button" class="btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="Back to List">
                    <i class="material-icons">arrow_back</i>
                </button>
            </a>

        </form>
</div>

@section Scripts{
    <script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
    </script>
}
