@using Badge.Web.Models.Shared
@using Badge.Web.Models.Machines


@model PaginationViewModel<MachinesViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<a asp-action="Create">

    <a asp-action="Create" class="btn-floating btn-large waves-effect waves-light #26a69" data-position="bottom" data-delay="50" data-tooltip="Create New"><i class="material-icons">add</i></a>
</a>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Data.First().IpMachine)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Data.First().MacAddress)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Data)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IpMachine)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MacAddress)
                    </td>
                    <td>
                        <div class="btn-group" role="group" aria-label="...">


                                <a asp-action="Edit" asp-route-id="@item.Nome">
                                    <button class="btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="Edit">
                                        <i class="material-icons">border_color</i>
                                    </button>
                                </a>
                                
                                
                                    <a asp-action="Details" asp-route-id="@item.Nome" >
                                        <button class="btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="Details">
                                            <i class="large material-icons ">pageview</i>
                                        </button>
                                        </a>
                                
                            <a asp-action="Delete" asp-route-id="@item.Nome">
                                <button class="btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="Delete">
                                    <i class="large material-icons">delete</i>
                                </button>
                            </a>

                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>


    <div class="center-block">

        <ul class="pagination">
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>

            @for (int i = 0; i < (Model.Count / 10) + 1; i++)
            {
                <li class="waves-effect">
                @if (Model.Skip / 10 == i)
                {
                    <li class="active"><a asp-controller="Machines" asp-action="Index" asp-route-skip="@(i * 10)" asp-route-take="10">@(i + 1)</a></li>
                }
                else
                {
                    <li><a asp-controller="Machines" asp-action="Index" asp-route-skip="@(i * 10)" asp-route-take="10">@(i + 1)</a></li>
                }

                </li>
            }
            <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
        </ul>

    </div>

@section Scripts{
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    })
</script>
}
